In [1]:
import sklearn
from sklearn import linear_model
from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import tensorflow as tf 
import numpy as np

#### Preprocessing Step 1

##### Read data

In [2]:
covid_df = pd.read_csv("covid.csv")
covid_df.head()

,tarih,gunluk_test,gunluk_vaka,gunluk_vefat,gunluk_iyilesen,toplam_test,toplam_vaka,toplam_vefat,toplam_iyilesen,toplam_yogun_bakim,toplam_entube,hastalarda_zaturre_oran,agir_hasta_sayisi,yatak_doluluk_orani,eriskin_yogun_bakim_doluluk_orani,ventilator_doluluk_orani,ortalama_filyasyon_suresi,ortalama_temasli_tespit_suresi,filyasyon_orani
0,10.10.2020,113.102,1.649,56.0,1.391,11.506.414,334.031,8.778,293.145,NaN,NaN,6.2,1.414,48.6,68.8,31.4,NaN,7.6,99.3
1,09.10.2020,115.295,1.629,55.0,1.402,11.393.312,332.382,8.722,291.754,NaN,NaN,6.2,1.398,48.6,68.8,31.4,NaN,7.6,99.3
2,08.10.2020,117.101,1.615,58.0,1.398,11.278.047,330.753,8.667,290.352,NaN,NaN,6.2,1.403,48.6,68.8,31.4,NaN,7.6,99.3
3,07.10.2020,116.608,1.581,56.0,1.355,11.160.946,329.138,8.609,288.954,NaN,NaN,6.2,1.411,48.6,68.8,31.4,NaN,7.6,99.3
4,06.10.2020,112.421,1.511,55.0,1.229,11.044.338,327.557,8.553,287.599,NaN,NaN,6.2,1.414,48.6,68.8,31.4,NaN,7.6,99.3

In [3]:
covid_df.tail()

,tarih,gunluk_test,gunluk_vaka,gunluk_vefat,gunluk_iyilesen,toplam_test,toplam_vaka,toplam_vefat,toplam_iyilesen,toplam_yogun_bakim,toplam_entube,hastalarda_zaturre_oran,agir_hasta_sayisi,yatak_doluluk_orani,eriskin_yogun_bakim_doluluk_orani,ventilator_doluluk_orani,ortalama_filyasyon_suresi,ortalama_temasli_tespit_suresi,filyasyon_orani
208,15.03.2020,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,14.03.2020,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,13.03.2020,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,12.03.2020,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,11.03.2020,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
covid_df.describe()

,gunluk_test,gunluk_vaka,gunluk_vefat,gunluk_iyilesen,toplam_vaka,toplam_vefat,toplam_iyilesen,toplam_yogun_bakim,toplam_entube,agir_hasta_sayisi,yatak_doluluk_orani,eriskin_yogun_bakim_doluluk_orani,ventilator_doluluk_orani,ortalama_filyasyon_suresi,ortalama_temasli_tespit_suresi,filyasyon_orani
count,197.000000,197.000000,197.000000,189.000000,213.000000,207.000000,197.000000,123.000000,123.000000,74.000000,10.000000,10.000000,10.000000,0.0,10.000000,10.00000
mean,57.962624,187.135406,44.076142,195.533048,241.901925,78.424251,175.358041,326.510415,439.190894,333.234676,48.880000,68.120000,31.760000,NaN,7.760000,99.22000
std,31.710001,374.503585,30.132857,371.929498,339.238203,458.202752,99.540935,387.040743,252.867264,363.907491,0.361478,0.877876,0.464758,NaN,0.206559,0.10328
min,7.533000,1.003000,14.000000,1.002000,1.000000,1.000000,1.042000,1.018000,1.006000,1.017000,48.600000,67.100000,31.400000,NaN,7.600000,99.10000
25%,36.155000,1.368000,19.000000,1.202000,141.475000,4.475000,114.990000,1.250000,307.000000,1.405000,48.600000,67.100000,31.400000,NaN,7.600000,99.10000
50%,45.176000,1.642000,29.000000,1.492000,203.456000,5.545000,190.390000,1.814000,387.000000,1.598500,48.600000,68.800000,31.400000,NaN,7.600000,99.30000
75%,92.227000,4.062000,63.000000,5.018000,262.507000,6.975000,240.792000,722.500000,555.500000,653.750000,49.300000,68.800000,32.300000,NaN,8.000000,99.30000
max,117.113000,996.000000,127.000000,1382.000000,3629.000000,4540.000000,786.000000,998.000000,995.000000,991.000000,49.300000,68.800000,32.300000,NaN,8.000000,99.30000

In [5]:
Col_toWorkon= ["gunluk_test","gunluk_vefat","toplam_vaka","toplam_vefat","toplam_iyilesen","toplam_yogun_bakim"]
covid_df = covid_df[Col_toWorkon]
covid_df.tail()

,gunluk_test,gunluk_vefat,toplam_vaka,toplam_vefat,toplam_iyilesen,toplam_yogun_bakim
208,NaN,NaN,18.0,NaN,NaN,NaN
209,NaN,NaN,6.0,NaN,NaN,NaN
210,NaN,NaN,5.0,NaN,NaN,NaN
211,NaN,NaN,1.0,NaN,NaN,NaN
212,NaN,NaN,1.0,NaN,NaN,NaN

In [6]:
scaler = MinMaxScaler(copy=False)
scaler.fit(covid_df)
scaler.transform(covid_df)
covid_df =covid_df.replace(np.nan,0)
covid_df.tail()

,gunluk_test,gunluk_vefat,toplam_vaka,toplam_vefat,toplam_iyilesen,toplam_yogun_bakim
208,0.0,0.0,0.004686,0.0,0.0,0.0
209,0.0,0.0,0.001378,0.0,0.0,0.0
210,0.0,0.0,0.001103,0.0,0.0,0.0
211,0.0,0.0,0.000000,0.0,0.0,0.0
212,0.0,0.0,0.000000,0.0,0.0,0.0

In [7]:
predict = "gunluk_vefat" #We want to predict daily death...
X = np.array(covid_df.drop([predict],1))
y = np.array(covid_df[predict])

In [8]:
x_train,x_test,y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size=0.1)

In [9]:
linear_reg = linear_model.LinearRegression()
linear_reg.fit(x_train,y_train)
accuracy = linear_reg.score(x_test,y_test)
accuracy

-0.09168349862727698